<div class="container">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, input_html: { class: 'new-searchbar' } %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :first_name, placeholder: "Your first name", label: "First name (max. 20 characters)", input_html: { maxlength: 20, class: 'new-searchbar' } %>
      <%= f.input :last_name, placeholder: "Your last name", label: "Last name (max. 20 characters)", input_html: { maxlength: 20, class: 'new-searchbar' } %>
      <%= f.input :photo, as: :file,
                  hint: "leave it blank if you don't want to change it" %>

      <%= f.rich_text_area :bio_action_text, placeholder: "Tell people about yourself", label: "Enter your bio here (max. 500 characters)", input_html: { maxlength: 500, class: 'new-searchbar' } %>
      <%= f.rich_text_area :contact_action_text, placeholder: "Your contact info", label: "Where do you want to be contacted? (max. 400 characters)", input_html: { maxlength: 400, class: 'new-searchbar' } %>
      
      <%= f.association :tags,
                  as: :check_boxes,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", :class => 'btn btn-primary' %>
    </div>
  <% end %>


  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>

</div>

<br>
<br>
<br>
<br>

<nav class="menu">
    <a href="<%= posts_path %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-bolt" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Daily insights</span>
    </a>
    <a href="<%= new_post_path %>" class="menu-item">
      <span class="material-icons"><i class="far fa-plus-square" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Add post</span>
    </a>
    <a href="<%= search_path %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-search" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Search</span>
    </a>

    <% if user_signed_in? %>
    <a href="<%= user_path(current_user) %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-user-circle" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Profile</span>
    </a>
    <% else %>
    <a href="<%= new_user_session_path %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-user-circle" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Log in</span>
    </a>
    <% end %>
</nav>
