<!-- profile starts here -->
<div class=" container mt-2">
  <div class="log">
  <% if user_signed_in? %>
      <a style="font-size: 14px; display: flex;"class="btn-ghost" data-method="delete" href="<%= destroy_user_session_path %>">Log out</a>
  <% else %>
      <a style="font-size: 14px; display: flex;" class="btn-ghost" href="<%= new_user_session_path %>">Log in</a>
  <% end %>
  </div>
  <div style="display: flex; justify-content: center;" class="profile-picture">
    <img style="border-radius: 40%; width: 150px; height: 150px;" src="<%= cl_image_path @user.photo.key, height: 300, crop: :fill %>">
  </div>

  <h5 style="text-align: center; margin-top: 10px; font-weight: bolder;"><%= @user.first_name %> <%= @user.last_name %></h5>

  <div style="display: flex; justify-content: space-around; padding-top: 15px;" class="follow-counter">
    <a href="<%= user_followers_path(@user.id) %>">
      <span><strong><%= @user.followers.count %></strong><small> followers</small></span>
    </a>
    <a href="<%= user_followings_path(@user.id) %>">
      <span><strong><%= @user.followings.count %></strong><small> followings</small></span>
    </a>
  </div>

    <div style="display: flex; justify-content: space-around; padding-top: 15px;">
      <% if current_user == @user %>
        <a class="btn-form" href="<%= edit_user_registration_path(@user) %>"><i style="padding-right: 5px;" class="far fa-edit"> edit</i></a>
        <a class="btn-form" href="<%= new_user_invitation_path %>"><i class="fas fa-feather"> status</i></a>
        <a class="btn-form" href="<%= new_user_invitation_path %>"><i class="far fa-paper-plane"> invite</i></a>
      <% end %>
    </div>

  <div style="display: flex; justify-content: center; margin-top: 10px;"class="follow-centered">
    <% if current_user != @user %>
      <% if current_user.followings.find_by(id: @user.id).present? %>
        <button class="following"><a style="text-decoration: none;" class="following" data-method="delete" href="<%= user_unfollow_path(@user) %>">following</a></button>
      <% else %>
        <button class="follow"><a style="text-decoration: none;" data-method="post" href="<%= user_follow_path(@user) %>">follow</a></button>
      <% end %>
    <% end %>
  </div>

  <hr>
    <article style="font-size: 90%;"><%= @user.bio %></article>
  <hr>
    <article><%= @user.contact_text %></article>
  <hr>
</div>

<!-- Profile ends here -->
<nav class="menu">
    <a href="<%= posts_path %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-bolt" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Daily insights</span>
    </a>
    <a href="<%= new_post_path %>" class="menu-item">
      <span class="material-icons"><i class="far fa-plus-square" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Add post</span>
    </a>
    <a href="<%= search_path %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-search" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Search</span>
    </a>

    <% if user_signed_in? %>
    <a href="<%= user_path(current_user) %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-user-circle" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Profile</span>
    </a>
    <% else %>
    <a href="<%= new_user_session_path %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-user-circle" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Log in</span>
    </a>
    <% end %>
</nav>
