<!-- profile starts here -->
<div class=" container mt-2">
  <div class="log">
  <% if user_signed_in? %>
      <a style="font-size: 14px; display: flex;"class="btn-ghost" data-method="delete" href="<%= destroy_user_session_path %>">Log out</a>
  <% else %>
      <a style="font-size: 14px; display: flex;" class="btn-ghost" href="<%= new_user_session_path %>">Log in</a>
  <% end %>
  </div>
  <div style="display: flex; justify-content: center;" class="profile-picture">
      <% if !@user.status_action_text.body.nil? %>
          
          <%= link_to user_showstatus_path(@user), remote: true do %>
              <img style="border: 5px solid orange; border-radius: 40%; width: 150px; height: 150px;" src="<%= cl_image_path @user.photo.key, height: 300, crop: :fill %>">
          <% end %>
      
      <% else %>
        <img style="border-radius: 40%; width: 150px; height: 150px;" src="<%= cl_image_path @user.photo.key, height: 300, crop: :fill %>">
      <% end %>
  </div>

  <h5 style="text-align: center; margin-top: 10px; font-weight: bolder;"><%= @user.first_name %> <%= @user.last_name %></h5>

  <div style="display: flex; justify-content: space-around; padding-top: 15px;" class="follow-counter">
    <a href="<%= user_followers_path(@user.id) %>">
      <span><strong><%= @user.followers.count %></strong><small> followers</small></span>
    </a>
    <a href="<%= user_followings_path(@user.id) %>">
      <span><strong><%= @user.followings.count %></strong><small> followings</small></span>
    </a>
  </div>

    <div style="display: flex; justify-content: space-around; padding-top: 15px;">
      <% if current_user == @user %>

        <a class="btn-profile" href="<%= edit_user_registration_path(@user) %>"><i style="padding-right: 5px;" class="far fa-edit"> edit</i></a>
        <a class="btn-profile" href="<%= user_editstatus_path(@user)%>"><i class="fas fa-feather"> status</i></a>
        <a class="btn-profile" href="<%= new_user_invitation_path %>"><i class="far fa-paper-plane"> invite</i></a>
        <a class="btn-profile" href="<%=user_savedposts_path(@user)%>"><i class="far fa-bookmark"> saved</i></a>

      <% end %>
    </div>

  <div style="display: flex; justify-content: center; margin-top: 10px;"class="follow-centered">
    <% if current_user != @user %>
      <% if current_user.followings.find_by(id: @user.id).present? %>
        <button class="following"><a style="text-decoration: none;" class="following" data-method="delete" href="<%= user_unfollow_path(@user) %>">following</a></button>
      <% else %>
        <button class="follow"><a style="text-decoration: none;" data-method="post" href="<%= user_follow_path(@user) %>">follow</a></button>
      <% end %>
    <% end %>
  </div>

  <hr>
    <article style="font-size: 80%;"><h4 style="font-size: 90%; font-style:italic;">Status: </h4><%= @user.status_action_text %></article>
  <hr>
    <article style="font-size: 80%;"><h4 style="font-size: 90%; font-style:italic;">About me: </h4><%= @user.bio_action_text %></article>
  <hr>
  <article style="font-size: 80%;"><h4 style="font-size: 90%; font-style:italic;">Connect with me here: </h4><%= @user.contact_action_text %></article>
  <hr>
</div>

<div class="container">
  <% @posts.each do |post| %>
    <div class="card">
        <div class="card-header">
          <a href="<%= post_path(post.id)%>">
            <% if post.photo.attached? %>
              <img style ="object-fit: contain" src="<%= cl_image_path post.photo.key %>" alt="rover" />
            <% end %>
          </a>
        </div>

        <div class="tags">
          <% post.tags.each do |tag| %>
            <span class="tag tag-<%=tag.name%>"><%= tag.name %></span>
          <% end %>
        </div>

        <div class="card-body">
          <a style="text-decoration: none;" href="<%= post_path(post.id)%>">
            <h4 style="color: black;"class="card-title"><%= post.title %></h4>
          </a>
          <p><%= post.description %> </p>

          <div class="user">
            <a href="<%= user_path(post.user) %>">
              <% if post.user.photo.attached? %>
                <img src="<%= cl_image_path post.user.photo.key, height: 300, crop: :fill %>" alt="user" />
              <% end %>
            </a>
            <h5 style="font-size: 14px;"> <%= post.user.first_name %></h5>

          </div>

        </div>
    </div>
  <% end %>
</div>

<br>
<br>
<br>
<br>

<!-- Profile ends here -->
<nav class="menu">
    <a href="<%= posts_path %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-bolt" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Daily insights</span>
    </a>
    <a href="<%= new_post_path %>" class="menu-item">
      <span class="material-icons"><i class="far fa-plus-square" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Add post</span>
    </a>
    <a href="<%= search_path %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-search" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Search</span>
    </a>

    <% if user_signed_in? %>
    <a href="<%= user_path(current_user) %>" class="menu-item active-page">
      <span class="material-icons"><i class="fas fa-user-circle" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Profile</span>
    </a>
    <% else %>
    <a href="<%= new_user_session_path %>" class="menu-item active-page">
      <span class="material-icons"><i class="fas fa-user-circle" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Log in</span>
    </a>
    <% end %>
</nav>
<div id='status-content'></div>

