<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<!-- h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Write a story", "#", class: "btn btn-ghost" %>
</div> -->
<!--   <%= submit_tag "Search", class: "btn btn-flat" %>
</div>

card start here

  <div class="card">
    <div class="card-header">
      <img src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover" />
    </div>
    <div class="tags">
      <span class="tag tag-color-test<%=%>">Technology</span>
      <span class="tag tag-pink<%=%>">Science</span>
      <span class="tag tag-purple<%=%>">Finance</span>
    </div>
    <div class="card-body">
    <h4 class="card-title">
      Why is the Tesla Cybertruck designed the way it
      is?
    </h4> -->
 <!--    <p>
      An exploration into the truck's polarising design (description)
    </p>
    <div class="user">
      <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
      <h5 style="font-size: 14px;">Marc L.</h5>
      <div class="align-interactions">
        <div class="align-upvote">
          <i class="far fa-arrow-alt-circle-up"></i>
        </div>
        <div class="align-save">
          <i class="far fa-bookmark"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- cards end here -->

<!-- profile starts here -->
<!-- <div class="container">
  <a href="" style="display: flex; justify-content: flex-end;"><i class="far fa-edit"></i></a>
  <div style="display: flex; justify-content: center;" class="profile-picture">
    <img style="border-radius: 50%; width: 150px; height: 150px;" src="https://source.unsplash.com/random">
  </div>
  <h5 style="text-align: center; margin-top: 10px; font-weight: bolder;"> Romain Lelascar</h5>
  <div style="display: flex; justify-content: space-around; padding-top: 15px;" class="follow">
    <span><strong>150 </strong><small>followers</small></span><span><strong>50 </strong><small>following</small></span>
  </div>
  <div style="display: flex; justify-content: center; margin-top: 10px;"class="follow-centered">
  <button class="follow">
  <span class="msg-follow">Follow</span>
  <span class="msg-following">Following</span>
  <span class="msg-unfollow">Unfollow</span>
  </button>
  </div>
  <hr>
  <article style="font-size: 90%;">Exploring the universe with my colleagues at the national space agency</article>
  <hr>
  <p>Contact me on:</p>
  <hr>
</div> -->
<!-- Profile ends here -->

<nav class="menu">
  <a href="" class="menu-item">
    <span class="material-icons"><i class="fab fa-laravel" style="font-size: 20px"></i></span>
    <span class="menu-item-label">Daily insights</span>
  </a>
  <a href="#" class="menu-item">
    <span class="material-icons"><i class="far fa-plus-square" style="font-size: 20px"></i></span>
    <span class="menu-item-label">Add post</span>
  </a>
  <a href="#" class="menu-item">
    <span class="material-icons"><i class="fas fa-search" style="font-size: 20px"></i></span>
    <span class="menu-item-label">Search</span>
  </a>
  <a href="#" class="menu-item">
    <span class="material-icons"><i class="fas fa-user-circle" style="font-size: 20px"></i></span>
    <span class="menu-item-label">Profile</span>
  </a>
</nav>
