<div class="container mt-4">
  <div class="new-searchbar" >
    <%= form_tag posts_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control new-searchbar",
        style: "height: 43px",
        placeholder: "Search insights by title, tag or author"%>
  </div>
    <div style="text-align:center">
      <%= submit_tag "🚀", class: "btn btn-ghost mt-3" %>
    </div>
    <% end %>
</div>












<nav class="menu">
    <a href="<%= posts_path %>" class="menu-item">
      <span class="material-icons"><i class="fab fa-laravel" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Daily insights</span>
    </a>
    <a href="<%= new_post_path %>" class="menu-item">
      <span class="material-icons"><i class="far fa-plus-square" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Add post</span>
    </a>
    <a href="<%= search_path %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-search" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Search</span>
    </a>
    <a href="#" class="menu-item">
      <span class="material-icons"><i class="fas fa-user-circle" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Profile</span>
    </a>
  </nav>
