<h1>We will edit posts here!</h1>
<%= simple_form_for [ @post ] do |f| %>
  <%= f.input :title, placeholder: "Post Title" %>
  <%= f.input :text, placeholder: "Text" %>
  <%# <%= f.input :category, collection: Post.categories.keys %>
  <%= f.input :category,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            label_method: ->(obj){ Post.category_label(obj) },
            value_method: ->(obj){ obj[0] },
            collection: Post.categories %>
  <%= f.input :photo, as: :file %>
  <%= f.association :tags,
                  as: :check_boxes,
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
  <%= f.submit "Share this post with the world!", class: "btn btn-primary" %>
<% end %>
