<div class="title-post">
    <h1 style="margin: 2% 5% 3% 5%; font-size: 25px; font-weight: bold; margin-top: 15px;"><%=@post.title%></h1>
  </div>

  <div class="post-image">
    <% if @post.photo.attached? %>
      <img src="<%= cl_image_path @post.photo.key, height: 300, crop: :fill %>" class="img-responsive" style="width:100%; height: 300px; object-fit: cover;">
    <% end %>
  </div>

  <div style="margin: 5% 5% 5% 5%; margin-bottom: 15px;" class="user">
    <% if @post.user.photo.attached? %>
      <a href="<%= user_path(@post.user)%>">
        <img src="<%= cl_image_path @post.user.photo.key, height: 300, crop: :fill %>" alt="user" />
      </a>
    <% end %>

    <h5 style="font-size: 14px;"><span><%=@post.user.first_name%> </span><span><%=@post.user.last_name%></span></h5>

    <div class="show-interaction">

      <div class="align-interactions">

        <% if current_user == @post.user %>

        <div style="display: flex;" class="align-upvote">
          <div style="font-size: 20px;">
            <a href="<%= edit_post_path(@post) %>"><i class="far fa-edit"></i></a>
          </div>

          <div style="font-size: 20px; display: flex;">
            <%= link_to post_path(@post.id), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i style="margin-left: 17px;" class="far fa-trash-alt"></i>
            <% end %>

          </div>
          <div style="font-size: 20px; display: flex;">
            <a style="padding-left: 45px;" href="<%= %>"><i class="fas fa-arrow-alt-circle-up"></i></a>
            <small><%= @post.post_upvoted.count%></small>
          </div>
        </div>

        <% else %>

          <% if @post.post_saved.find_by(user_id: current_user.id).present? %>
            <div style="padding-left: 137px;">
              <a class="" data-method="delete" href="<%= post_unsave_path(@post) %>"><i class="far fa-bookmark" style="font-size: 20px; color: #F87666;"></i></a>
            </div>
          <% else %>
              <div style="padding-left: 137px;">
              <a class="" data-method="post" href="<%= post_save_path(@post) %>"><i class="far fa-bookmark" style="font-size: 20px; color: #F87666"></i></a>
            </div>
          <% end %>

          <% if @post.post_upvoted.find_by(user_id: current_user.id).present? %>
            <div style="padding-left: 15px;">
              <a class="" data-method="delete" href="<%= post_unvote_path(@post) %>"><i class="far fa-thumbs-up" style="font-size: 20px; color: #F87666"></i></a>
            </div>
          <% else %>
              <div style="padding-left: 15px;">
              <a class="" data-method="post" href="<%= post_upvote_path(@post) %>"><i class="far fa-thumbs-up" style="font-size: 20px; color: #F87666"></i></a>
            </div>
          <% end %>

        <% end %>

      </div>

  </div>
  <br>
</div>
<h6 class="description-post" style="margin: -1% 5% 3% 5%; font-style: italic; font-size: 10px;"><%= @post.created_at.strftime("Published on %d %B %Y") %></h6>
</div>
  <div style="margin: 0 5% 15px 5%; font-style: italic;" class="description-post">
    <hr>
    <small><%= @post.description %></small>
    <hr>
  </div>
  <div class="text-post">
    <article style="margin: 0 5% 0 5%; font-size: 90%;"><%= @post.text %></article>
  </div>

  <div style="margin: 2% 5% 0 5%">
    <% @post.tags.each do |tag| %>
        <span class="tag tag-<%=tag.name%>"><%= tag.name %></span>
    <% end %>
  </div>

  <hr>
  <div style="margin: % 5% 0 5%">
    <h4 class="description-post" style="margin: -1% 5% 3% 5%; font-style: italic; font-size: 10px;">If your read this far, you may want to connect</h4>
    <%= @post.user.contact_action_text %>
  </div>


<br>
<br>
<br>
<br>
<nav class="menu">
    <a href="<%= posts_path %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-bolt" style="font-size: 25px"></i></span>
      <span class="menu-item-label">Daily insights</span>
    </a>
    <a href="<%= new_post_path %>" class="menu-item">
      <span class="material-icons"><i class="far fa-plus-square" style="font-size: 25px"></i></span>
      <span class="menu-item-label">Add post</span>
    </a>
    <a href="<%= search_path %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-search" style="font-size: 25px"></i></span>
      <span class="menu-item-label">Search</span>
    </a>

    <% if user_signed_in? %>
    <a href="<%= user_path(current_user) %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-user-circle" style="font-size: 25px"></i></span>
      <span class="menu-item-label">Profile</span>
    </a>
    <% else %>
    <a href="<%= new_user_session_path %>" class="menu-item">
      <span class="material-icons"><i class="fas fa-user-circle" style="font-size: 20px"></i></span>
      <span class="menu-item-label">Log in</span>
    </a>
    <% end %>
</nav>
